.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  /* z-index: -1; */
}
.hold {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background-color: burlywood;
}
.image-value {
  width: 200px;
  height: 200px;
  border-radius: 250px;
}
.upload {
  width: 150px;
  border: none;
  background-color: brown;
  color: white;
  height: 25px;
  font-size: 20px;
  outline: none;
}
